@page
@model IndexModel
@{
    ViewData["Title"] = "CI/CQ/CD/ChatOps";
}

<div class="text-center">
    <h1 class="display-4">Ferguson's own Vandy CI/CQ/CD/ChatOps using GitHub</h1>
    <br>
    <img src="https://octodex.github.com/images/bear-cavalry.png">
    <br>
    <p>Learn more about <a href="Ferguson CI/CQ/CD/ChatOps"> building Cloud apps with ASP.NET Core, Node, Python or Java</a>.</p>
</div>
