@page
@model IndexModel
@{
    ViewData["Title"] = "CI/CQ/CD/ChatOps";
}

<div class="text-center">
    <h1>Ferguson CI CD CQ DevSecOps using GitHub</h1>
    <br>
    <h2>some Dev, some Sec, some Ops with a focus on Quality</h1>
    <br>
    <h3>turn key, scalalable, hybrid, cost effective, elastic, convenient</h1>
    <br>
    <h3>with common tools, sites, dev support, industry support, open source, fortune 1 stuff!</h1>
    <br>
    <br>
    <img width="600px" height="800px" src="https://octodex.github.com/images/bear-cavalry.png">
    <a href="https://github.com/marketplace/actions/azure-webapp">About Github CI/CQ/CD with ASP.NET Core, Node, Python or Java</a>
    <br>
    <a href="https://netorgft990687-my.sharepoint.com/:p:/g/personal/matthew_vandergrift_homeaidepi_com/ERWVLNOTjehIq_IQXQvmZisBIQFZdJWbcEhI8V6HOtK-Ig?e=GMjQl6">About me</a>
    
    
</div>
