@page
@model VandyModel
@{
    ViewData["Title"] = "Vandy Bio";
}
<h1>@ViewData["Title"]</h1>

    <h1>
    👋 Hi, I’m Vandy
    👀 I’m interested in helping grow a team, product & community
    🌱 I’m currently learning harness.io, azure boards and extending my github ops skillsets
    🚀 I’m looking to collaborate with other architects on executing cloud functions in a scalable, multi-tenant, L1 & L2 self service, IaC managed fashion</h1>

    I would like to use my experience entreprenuering, working across 7 industries, with over 2 decades software development and 1 decade Architecting Cloud Solutions.
    Experience in creating and working in some of the biggest and toughest organizations in IBM, Epic Games, XS, and more.
    Developed in Logo, C, C++, C#,  Basic, Visual Basic, Node, TS, JavaScript, Python, R, Java, Cobol.  Nerdy tech, sports & sci fi fan. Star Trek before Star Wars! 
    Presenter at WebSummit 2015, 1/16 Finalist in IBM AI Hackathon 2020, Creator of Voice Activated Home Automation years before Alexa. 
    Spoke and presented to big VC's and big VP's. Can speak to the C suite, as well as the user on the street. 
    A parent of 2 children (Boy-18) and (Girl-3), I understand how to coordinate complex interactions of vastly differing groups and being able to speak to an audience.  
    I seek to us PMI EDMF and utilize respect, responsibility, honesty and fairness to conduct a cross collaborative recipe & knowledge sharing as well as learning 
    and growth on my end to try to make Ferguson more flexible, dynamic, best of breed, evolving homogenously, and allow teams to do things the way that work well for them 
    while also being part of a greater cause to evolve the technology of the organization and help all the employees, customers, and supply chains grow as well and gain benefits. 
<br>
